<div>
  <p>
    <em>TL;DR <strong>UI engineering</strong> is a <strong class="green">lucrative</strong> career if you're highly skilled.  But it's very challenging, and you need to know what you're doing.  In this tutorial series, you will learn how to architect a highly reusable, scalable and customizable Modal component for a large-scale application developed with React, Redux & React-Bootstrap.  Modals are a very important UI element for almost every application, so architect them right!
    <br />
    <br />
    This tutorial series is React 17 ready.  See this <a href="https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html" target="_blank">post</a> on React's soon to be deprecated lifecycle hooks.
    </em>
  </p>
</div>
<br />
<ul>
  <ol>Part 1 - <a href="/reusable-modals-for-large-scale-react-applications-part-1">Introduction</a></ol>
  <ol>Part 2 - <a href="/reusable-modals-for-large-scale-react-applications-part-2">The Modal Architecture</a></ol>
  <ol>Part 3 - <a href="/reusable-modals-for-large-scale-react-applications-part-3">The Main Modal Component</a></ol>
  <ol>Part 4 - <a href="/reusable-modals-for-large-scale-react-applications-part-4">The ModalHeader Component</a></ol>
  <ol>Part 5 - <a href="/reusable-modals-for-large-scale-react-applications-part-5">The ModalBody Component</a></ol>
  <ol>Part 6 - <a href="/reusable-modals-for-large-scale-react-applications-part-6">The ModalFooter Component</a></ol>
  <ol>Part 7 - <a href="/reusable-modals-for-large-scale-react-applications-part-7">BONUS - Using CSS Modules</a></ol>
</ul>
