{
  "extends": "airbnb",

  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "settings" : {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": { // 0=off, 1=warn, 2=error. Defaults to 0.
    semi: [2, "never"],
    "no-multi-spaces": [2, {
      "exceptions": {
        "VariableDeclaration": true,
        "ImportDeclaration": true
      }
    }],
    "comma-dangle": [2, "never"],
    "key-spacing": [2, {
      "singleLine": {
        "beforeColon": false,
        "afterColon": true
      }
    }],
    "arrow-body-style": "off",
    "react/jsx-filename-extension": [0, { "extensions": [".js"] }],
    "import/no-extraneous-dependencies": [0, {"devDependencies": true}],
    "react/prefer-stateless-function": "off",
    "react/no-unused-prop-types": [2, {
      skipShapeProps: false
    }],
    "import/prefer-default-export": "off",
    "function-paren-newline": "off"
  }
}
