<br />
<br />
<div class="text-center">
  <div class="ad-box">
    <div class="ad-box-header">
      <h3>Blockchain Is The #1 Skill For 2020</h3>
    </div>
    <div class="ad-box-content">
      <div class="left left-section">
        <img src="/assets/images/full-stack-dapps-logo-only.png" alt="Full Stack DApps logo" />
      </div>
      <div class="left right-section">
        <h4>Master The Fundamentals Of Ethereum, Smart Contracts, and DApp Development</h4>
        <p>Register for the free training workshop <strong>"How To Develop A Full Stack DApp For Ethereum"</strong>, and start your journey to becoming one of the world's first blockchain developers...</p>
        <br />
        <a class="button button--bright package__button" href="https://ethereum.fullstackdapps.com/webinar-registrationrw3t1t4t ">REGISTER YOUR SEAT</a>
      </div>
    </div>
  </div>
</div>
