<header class="site-header">
  <div id="logo-section">
    <a id="site-title" href="{{ site.baseurl }}/">
      <img src="/assets/images/full-stack-dapps-logo-medium.png" alt="Full Stack DApps Logo" />
<!--       <h1>Professional React, Redux, & Webpack Training For UI Engineers</h1>
 -->    </a>
  </div>
  <!-- <nav class="site-nav">
    <ul>
      <li><a href="http://hackingbeauty.com/about/#about-page">About</a></li>
      <li><a href="http://hackingbeauty.com/consulting/#consulting-page">Contact</a></li>
    </ul>
  </nav> -->
</header>
