<div id="sidebar">
  <h4>Top Stories & Tutorials</h4>
  <ul>
    <li>
      <a href="/reusable-modals-for-large-scale-react-applications-part-1">
        <img class="article-graphic" src="/assets/images/article-previews/reusable-modal.png" alt="Snapshot of highly reusable React-Bootstrap Modal component" />
      </a>
      <div class="article-preview">
        <h4>
          <a href="/reusable-modals-for-large-scale-react-applications-part-1">Reusable Modal Architecture With React-Bootstrap</a>
        </h4>
        <p>
          Modals are some of the most important UI elements in any application.  Learn how to architect them the *right* way for a large-scale React application, and save you and your team a ton of tech-debt right now.
        </p>
      </div>
    </li>
    <li>
      <a href="https://codeburst.io/how-to-manage-ui-state-with-redux-24deb6cf0d57" target="_blank">
        <img class="article-graphic" src="/assets/images/article-previews/ui-state-redux.png" alt="Snapshot of Redux UI Reducer" />
      </a>
      <div class="article-preview">
        <h4>
          <a href="https://codeburst.io/how-to-manage-ui-state-with-redux-24deb6cf0d57" target="_blank">How To Manage UI State With Redux</a>
        </h4>
        <p>
          In this tutorial, you will learn how to properly manage UI State for a large-scale React application.  If you don't know what "UI State" is don't worry, you will after you read this story.  Learn how to manage the state of your application effectively for maximum scalability.
        </p>
      </div>
    </li>
    <li>
      <a href="/react-app-url-schemes-part-1/">
        <img class="article-graphic" src="/assets/images/article-previews/push-state-url-scheme.png" alt="Snapshot of web-based URL that's using Push State" />
      </a>
      <div class="article-preview">
        <h4>
          <a href="/react-app-url-schemes-part-1/">Hash-Based & Push-State URLs In React Apps</a>
        </h4>
        <p>
          Did you ever wonder what the hash (#) or hash-bang (#!) in a URL meant or did?  Learn what the difference betweeh hash-based and push-state URLs are so you don't feel confused when you have to design them.
        </p>
      </div>
    </li>
    <li>
      <a href="http://hackingbeauty.com/create-a-reactjs-component-part1/" target="_blank">
        <img class="article-graphic" src="/assets/images/article-previews/reusable-component.png" alt="Snapshot of React-based Youtube search component" />
      </a>
      <div class="article-preview">
        <h4>
          <a href="http://hackingbeauty.com/create-a-reactjs-component-part1/" target="_blank">Create a React.js Auto-complete Search Box</a>
        </h4>
        <p>
          Create a React-based autocomplete search box that searches Youtube and learn how to develop your own shareable component now.
        </p>
      </div>
    </li>

  </ul>
</div>
