code,
pre {
  font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  font-size: 16px;
  background: #f2f2f2;
  color: #404040;
}

pre {
  padding: 20px;
  margin: 1em 0;
}

.prompt {
  color: purple;
  display:inline-block;
  margin-right: 10px;
}
