header.site-header {
  background: #f1f4f8;
  padding: 10px 60px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #d2cfcf;

  a {
    color: white;
  }

  #site-title img,
  #site-title h1,
  nav li a {
    &:hover {
      color: #e9d6df;
    }
  }

  #site-title {
    display: inline-block;

    img {
      float: left;
      width: 265px;
      margin-right: 20px;
    }

    h1 {
      margin: 5px 0 0 0;
      font-size: 26px;
    }

  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  #logo-section {
    float: left;
  }

  nav {
    float: right;
    width: 300px;

    ul {
      li {
        display: inline-block;
        margin-right: 40px;
        margin-top: 27px;

      }
    }
  }

  @media (max-width: 1100px) {
    padding: 20px 0;

    #site-title img,
    #logo-section,
    nav {
      float: none;
      text-align: center;
    }
  }

}
