body #project-wrapper {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

body #project-wrapper #project-container {
  background-color: #333333;
  background-size: cover;
  background-position: top center;
  color: white;
  /* height: auto; */
  // height: 180px;
  max-width: 500px;
  position: relative;
  z-index: 2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px -1px 15px rgba(0, 0, 0, 0.5);
}
body #project-wrapper #project-container #overlay {
  height: calc(100% + 1px);
  width: 100%;
  z-index: 2;
  background: -moz-linear-gradient(-45deg, #333333 0%, #222222 100%);
  // /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #333333 0%, #222222 100%);
  // /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #333333 0%, #222222 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: .85;
}
body #project-wrapper #project-container #content {
  text-align: center;
  position: relative;
  z-index: 3;
}
body #project-wrapper #project-container #content h2 {
  font-size: 1.3em;
  margin: 35px 0 0 0;
  font-weight: 600;
}
body #project-wrapper #project-container #content h3 {
  margin: 7px 0 15px 0;
  font-size: 0.9em;
  opacity: .4;
}


body #project-wrapper #project-container #content #controls {
  height: 80px;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
body #project-wrapper #project-container #content #controls .column {
  float: left;
  font-size: 3em;
}
body #project-wrapper #project-container #content #controls .column:nth-child(even) {
  font-size: 2em;
}
body #project-wrapper #project-container #content #controls .column:nth-child(n+2):nth-child(-n+4) {
  color: white !important;
}
body #project-wrapper #project-container #content #controls .column:nth-child(3) {
  font-size: 2em;
}
body #project-wrapper #project-container #content #controls .column.active {
  color: #9b59b6;
}
body #project-wrapper #project-container #content #controls .column i {
  margin: 0 15px;
  cursor: pointer;
}

body #project-wrapper #project-container #content #controls .column.download {
  position: absolute;
  right: 10px;
  font-size: 1.5em;
}

.fa.disabled{
  opacity: 0.2;
  cursor: not-allowed;
  pointer-events: none;
}

#oscilloscope-scrim {
  height: 125px;
  margin-top: -135px;

  #scrim {
    height: inherit;
    opacity: 0.4;
    background: url(../images/oscilloscope.png);
    background-repeat: repeat;
  }
}

audio {
  width: 100%;
  height: 50px;
  background: #f1f3f4;
    -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
}

p {
  background: #333333;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px 0;
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
